@import "tailwindcss";

html, body {
  height: 100%;
  overflow: hidden; /* Required for locomotive */
}

[data-scroll-container] {
  min-height: 100%;
}

.c-scrollbar {
  opacity: 1 !important;
}

.c-scrollbar_thumb {
  background: #8BB6B1 !important;
}
