@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Default scrolling behavior */
html, body {
  height: 100%;

}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);  /* fully transparent */
}

::-webkit-scrollbar-thumb {
  background: #666;           /* default gray */
  border: none;
}


/* Firefox */
* {
  scrollbar-width: auto;     /* default width */
  scrollbar-color: auto;     /* default color without borders */
}

